<div class="container">
  <h1 class="text-center">movie comment</h1>
  <div class="pull-right">
    <%= link_to("add new movie", new_movie_path(@movie), class: "btn btn-default")%>
  </div>
  <hr>

  <div class="row">
    <% @movies.each do |movie|%>
      <div class="col-xs-6 col-md-3">
        <%= link_to movie_path(movie) do %>
          <% if movie.image.present?%>
            <%= image_tag(movie.image.thumb.url, class: "thumbnail")%>
          <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail")%>
          <% end %>
        <% end %>
        <%= movie.title%>
      </div>
    <% end %>
  </div>
</div>
